#indigo1{
    background-color: #8C9EFF;
}
#indigo2{
    background-color: #536DFE;
}
#indigo3{
    background-color: #3D5AFE;
}
#indigo4{
    background-color: #304FFE;
}
#indigo5{
    background-color: #9FA8DA;
}
#indigo6{
    background-color: #7986CB;
}
#indigo7{
    background-color: #5C6BC0;
}
#indigo8{
    background-color: #3F51B5;
}
#indigo9{
    background-color: #3949AB;
}
#indigo10{
    background-color: #303F9F;
}
#indigo11{
    background-color: #283593;
}

#indigo12{
    background-color: #1A237E;
}
#indigo13{
    background-color: #3f37c9;
}
#indigo14{
    background-color: #023e8a;
}
#indigo15{
    background-color: #171869;
}

#indigo16{
    background-color: #1459a3;
}
#indigo17{
    background-color: #1a60aa;
}
#indigo18{
    background-color: #170D56;
}
#indigo19{
    background-color: #101f30;
}

