#purple1{
    background-color: #560bad;
}
#purple2{
    background-color: #480ca8;
}
#purple3{
    background-color: #6d23b6;
}
#purple4{
    background-color: #B388FF;
}
#purple5{
    background-color: #7C4DFF;
}
#purple6{
    background-color: #651FFF;
}
#purple7{
    background-color: #6200EA;
}
#purple8{
    background-color: #B39DDB;
}
#purple9{
    background-color: #9575CD;
}
#purple10{
    background-color: #7E57C2;
}
#purple11{
    background-color: #673AB7;
}
#purple12{
    background-color: #5E35B1;
}
#purple13{
    background-color: #512DA8;
}
#purple14{
    background-color: #4527A0;
}
#purple15{
    background-color: #311B92;
}
#purple16{
    background-color: #7b2cbf;
}
#purple17{
    background-color: #8e94f2;
}
#purple18{
    background-color: #681751;
}
#purple19{
    background-color: #7d2064;
}
#purple20{
    background-color: #430e25;
}
