#pink1{
    background-color: #f87575;
}
#pink2{
    background-color: #FF80AB;
}
#pink3{
    background-color: #FF4081;
}
#pink4{
    background-color: #F50057;
}
#pink5{
    background-color: #F50057;
}
#pink6{
    background-color: #FCE4EC;
}
#pink7{
    background-color: #F8BBD0;
}
#pink8{
    background-color: #F48FB1;
}
#pink9{
    background-color: #F06292;
}
#pink10{
    background-color: #EC407A;
}
#pink11{
    background-color: #E91E63;
}
#pink12{
    background-color: #D81B60;
}
#pink13{
    background-color: #C2185B;
}
#pink14{
    background-color: #C2185B;
}
#pink15{
    background-color: #AD1457;
}
#pink16{
    background-color: #FF80AB;
}
#pink17{
    background-color: #FF4081;
}
#pink18{
    background-color: #F50057;
}
#pink19{
    background-color: #C51162;
}
#pink20{
    background-color: #ff97b7;
}