#blue1{
    background-color: #82B1FF;
}
#blue2{
    background-color: #448AFF;
}
#blue3{
    background-color: #2979FF;
}
#blue4{
    background-color: #2962FF;
}
#blue5{
    background-color: #81D4FA;
}
#blue6{
    background-color: #BBDEFB;
}
#blue7{
    background-color: #90CAF9;
}
#blue8{
    background-color: #64B5F6;
}

#blue9{
    background-color: #42A5F5;
}
#blue10{
    background-color: #2196F3;
}
#blue11{
    background-color: #1E88E5;
}
#blue12{
    background-color: #1976D2;
}

#blue13{
    background-color: #1565C0;
}
#blue14{
    background-color: #0D47A1;
}

#blue15{
    background-color: #185598;
}
#blue16{
    background-color: #1881b4;
}

#blue17{
    background-color: #66a9c8;
}
#blue18{
    background-color: #3090bb;
}
#blue19{
    background-color: #154a73;
}
#blue20{
    background-color: #178ab7;
}
#blue21{
    background-color: #2476b8;
}
#blue22{
    background-color: #154a73;
}
#blue23{
    background-color: #2573b3;
}
#blue24{
    background-color: #346c9c;
}
#blue25{
    background-color: #175598;
}
#blue26{
    background-color: #81D4FA;
}
#blue27{
    background-color: #4FC3F7;
}
#blue28{
    background-color: #29B6F6;
}
#blue29{
    background-color: #03A9F4;
}
#blue30{
    background-color: #039BE5;
}
#blue31{
    background-color: #0288D1;
}
#blue32{
    background-color: #0277BD;
}
#blue33{
    background-color: #00B0FF;
}#blue34{
    background-color: #0091EA;
}
/* #blue{
    background-color: ;
} */